<div class="modal fade" id="goalTrackerObjectiveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure Objective</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left" data-bind="with: App.game.goalTracker.selectedObjective">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" data-bind="textInput: $data.name" />
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" data-bind="
                        options: GameHelper.enumSelectOption(ObjectiveType),
                        value: $data.type,
                        optionsText: (item) => GoalTracker.getObjectiveTypeLabel(item.value),
                        optionsValue: 'value',
                        optionsCaption: ''"></select>
                </div>
                <!-- ko with: $data.config, as: 'config' -->
                <hr class="my-2 bg-secondary" />
                <div data-bind="foreach: { data: $parent.getOptions, as: 'option' }">
                    <div class="form-group" data-bind="with: option.values(config), as: 'values'">
                        <div data-bind="visible: values.length">
                            <!-- ko if: option.searchable -->
                            <div data-bind="let: { searchValue: ko.observable('') }">
                                <div class="dropdown" style="position: static;", data-bind="event: { 'hidden.bs.dropdown': () => searchValue('') }">
                                    <button class="btn btn-dropdown custom-select text-left" type="button" data-toggle="dropdown">
                                        <div class="text-truncate btn-text">
                                            <span data-bind="text: values.find(o => o.value === config[option.key]?.())?.name"></span>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right w-75 px-2" style="max-height: 95%; overflow-y: auto;">
                                        <input type="text" class="form-control form-control-sm" placeholder="Search" data-bind="textInput: searchValue" />
                                        <div class="dropdown-divider"></div>
                                        <div class="small" data-bind="foreach: values">
                                            <button type="button" class="dropdown-item px-1" data-bind="click: () => { config[option.key]($data.value) },
                                                visible: searchValue().length === 0 || $data.name.toLowerCase().includes(searchValue().toLowerCase())">
                                                <span data-bind="text: $data.name"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: option.searchable -->
                            <select class="form-control" data-bind="
                                options: values,
                                value: config[option.key],
                                optionsText: 'name',
                                optionsValue: 'value',
                                optionsCaption: ''"></select>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Goal Amount</label>
                    <input type="number" class="form-control" data-bind="value: $parent.targetAmount" />
                    <small class="form-text text-muted">
                        Current Amount:
                        <span data-bind="text: $parent.isConfigured() ? $parent.getProgress().toLocaleString('en-US') : 'N/A'"></span>
                    </small>
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
