<div id="farmDisplay" class="card sortable border-secondary mb-3 pokeclicker-optional-module">
    <div class="card-header p-0" data-toggle="collapse" href="#goalTrackerCard">
        <span>Goal Tracker</span>
    </div>
    <img class="clickable" src="assets/images/fa-cog.svg"
        style="position: absolute; right: 5px; top: 0px; width: auto; height: 41px; padding: 8px; padding-right: 4px;"
        data-toggle="modal" href="#goalTrackerModal" />

    <div id="goalTrackerCard" class="card-body p-0 px-2 show">
        <div class="text-muted small p-2">Create your own goals or hide this module in the settings.</div>
    </div>
</div>
